Hello,

We have started the deployment of new configuration on our side for the peering at our $POP_UPPERCASE PoP.
It is ready for the configuration on your side.

You can find the necessary information for this PoP on our Nodes page: https://dn42.routedbits.com/nodes/#${POP_LOWERCASE}
It can also be obtained programmatically via [nodes.json](https://dn42.routedbits.com/nodes.json)

We manage configuration via our dn42-peers repository, you can submit pull requests to add/remove/change your own peerings. Once accepted and merged, the changes are pushed to our routers within a few minutes.

Pull Request: [routedbits/dn42-peers#$PULL_REQUEST_ID](https://github.com/routedbits/dn42-peers/pull/$PULL_REQUEST_ID)

Let us know if you have any questions or issues.

Thanks,
NOC, RoutedBits
